{{!--
  Template for generic struct generation.

  Vendor extensions used:
  - x-generic-params: array of {name} for type parameters
  - x-generic-type-ref: string indicating a property uses a generic type parameter directly
  - x-generic-instance-type: raw (unprefixed) type for a property whose type is a generic
    instantiation parameterized by the parent's type params, e.g. "CryptoOnrampQuote<TQuoteMetadata>".
    The model name prefix is prepended in the template → "TONCryptoOnrampQuote<TQuoteMetadata>".
  - x-frozen: boolean indicating the field should use AnyCodable type with private let access

  Generates Swift structs with generic type parameters and Codable conformance.
--}}
{{#nonPublicApi}}internal{{/nonPublicApi}}{{^nonPublicApi}}public{{/nonPublicApi}} struct {{{classname}}}<{{#vendorExtensions.x-generic-params}}{{{name}}}: Codable{{^-last}}, {{/-last}}{{/vendorExtensions.x-generic-params}}>: Codable {
{{#vars}}
{{#description}}
    /** {{{.}}} */
{{/description}}
{{#vendorExtensions.x-frozen}}
    private let {{{name}}}: AnyCodable{{^required}}?{{/required}}
{{/vendorExtensions.x-frozen}}
{{^vendorExtensions.x-frozen}}
{{#vendorExtensions.x-generic-instance-type}}
    public var {{{name}}}: {{modelNamePrefix}}{{{vendorExtensions.x-generic-instance-type}}}{{^required}}?{{/required}}
{{/vendorExtensions.x-generic-instance-type}}
{{^vendorExtensions.x-generic-instance-type}}
{{#vendorExtensions.x-generic-type-ref}}
    public var {{{name}}}: {{{vendorExtensions.x-generic-type-ref}}}{{^required}}?{{/required}}
{{/vendorExtensions.x-generic-type-ref}}
{{^vendorExtensions.x-generic-type-ref}}
    public var {{{name}}}: {{> _swiftIntegerType}}{{^required}}?{{/required}}
{{/vendorExtensions.x-generic-type-ref}}
{{/vendorExtensions.x-generic-instance-type}}
{{/vendorExtensions.x-frozen}}
{{/vars}}

    {{#nonPublicApi}}internal{{/nonPublicApi}}{{^nonPublicApi}}public{{/nonPublicApi}} init({{#vars}}{{{name}}}: {{#vendorExtensions.x-frozen}}AnyCodable{{/vendorExtensions.x-frozen}}{{^vendorExtensions.x-frozen}}{{#vendorExtensions.x-generic-instance-type}}{{modelNamePrefix}}{{{vendorExtensions.x-generic-instance-type}}}{{/vendorExtensions.x-generic-instance-type}}{{^vendorExtensions.x-generic-instance-type}}{{#vendorExtensions.x-generic-type-ref}}{{{vendorExtensions.x-generic-type-ref}}}{{/vendorExtensions.x-generic-type-ref}}{{^vendorExtensions.x-generic-type-ref}}{{> _swiftIntegerType}}{{/vendorExtensions.x-generic-type-ref}}{{/vendorExtensions.x-generic-instance-type}}{{/vendorExtensions.x-frozen}}{{^required}}? = nil{{/required}}{{^-last}}, {{/-last}}{{/vars}}) {
{{#vars}}
        self.{{{name}}} = {{{name}}}
{{/vars}}
    }

    {{#nonPublicApi}}internal{{/nonPublicApi}}{{^nonPublicApi}}public{{/nonPublicApi}} enum CodingKeys: String, CodingKey, CaseIterable {
{{#vars}}
        case {{{name}}}{{#vendorExtensions.x-codegen-escaped-property-name}} = "{{{baseName}}}"{{/vendorExtensions.x-codegen-escaped-property-name}}
{{/vars}}
    }

    // Encodable protocol methods

    {{#nonPublicApi}}internal{{/nonPublicApi}}{{^nonPublicApi}}public{{/nonPublicApi}} func encode(to encoder: Encoder) throws {
        var container = encoder.container(keyedBy: CodingKeys.self)
{{#vars}}
{{#required}}
        try container.encode({{{name}}}, forKey: .{{{name}}})
{{/required}}
{{^required}}
        try container.encodeIfPresent({{{name}}}, forKey: .{{{name}}})
{{/required}}
{{/vars}}
    }
}
